@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Base Template</h1>
    <p class="lead">ASP.NET Base is a great starting point for your projects.</p>
    <p><a href="http://aspnetbase.com" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>